<script id="options-screen-template" type="text/x-handlebars-template">
  <div class="option_row">
    <input type="text" class="text-input" id="ch1" disabled placeholder="ip Local wi-fi..." value="">
    <label data-id="ch1" class="checkbox option_check_modif">
      <input id="" type="checkbox" >
      <div class="checkbox__checkmark"></div>
    </label>
  </div> 
  <div class="option_row">
    <input type="text" class="text-input" id="ch2" disabled  placeholder="ip Local Datos..." value="">
    <label data-id="ch2"class="checkbox option_check_modif">
      <input id="" type="checkbox">
      <div class="checkbox__checkmark"></div>
    </label>
  </div>   
  <div class="option_row">
    MOVER POSICIÓN EN %
    <label data-id="ch3"class="checkbox option_check_modif" >
      <input id="" type="checkbox" >
      <div class="checkbox__checkmark"></div>
    </label>
  </div>   
  
  <div class="percents_panel">
    <div class="option_row">
      <input type="text" class="text-input" id="ch4" placeholder="Todas las plantas" disabled>
      <label data-id="ch4" class="checkbox option_check_modif">
        <input id="" type="checkbox" >
        <div class="checkbox__checkmark"></div>
      </label>
    </div> 
    <div class="option_row">
      <input type="text" class="text-input" id="ch5" placeholder="Planta Superior" disabled>
      <label data-id="ch5" class="checkbox option_check_modif">
        <input id="" type="checkbox" >
        <div class="checkbox__checkmark"></div>
      </label>
    </div> 
    <div class="option_row">
      <input type="text" class="text-input" id="ch6" placeholder="Planta Baja" disabled>
      <label data-id="ch6" class="checkbox option_check_modif">
        <input id="" type="checkbox" >
        <div class="checkbox__checkmark"></div>
      </label>
    </div>

  </div>
</script>
